<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566494786076-959q9u0adac5rvt9kcbqkvisqu00bljk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566494786076-959q9u0adac5rvt9kcbqkvisqu00bljk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>566494786076-asf3lujja9ne19psop03ltic6hb140a9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCYvDDhPWacRsfjR7OUMElZyLZQh9nzQU</string>
	<key>GCM_SENDER_ID</key>
	<string>566494786076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dooramgi.dooramgi</string>
	<key>PROJECT_ID</key>
	<string>dooramgi-224cf</string>
	<key>STORAGE_BUCKET</key>
	<string>dooramgi-224cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566494786076:ios:b05507cb42eb784f17a5d9</string>
</dict>
</plist>